@font-face {
   font-family: 'Austin light';
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/Austin-Light.otf);
}
@font-face {
   font-family: 'Austin italic';
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/Austin-LightItalic.otf);
}
