@font-face {
  font-family: 'Austin light';
  src: url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.eot");
  src: url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.woff") format("woff"), url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b4c2a2f0ea21baef39792f629744a64d.svg#Austin") format("svg"); }

@font-face {
  font-family: "Austin italic";
  src: url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.eot");
  src: url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.woff") format("woff"), url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b5106af4d12b4f7b754a08d0b173e761.svg#Austin") format("svg"); }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-size: 10pt;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

section.left {
  width: 50%;
  height: 100vh;
  background: #F5F5F5;
  position: absolute; }
  section.left .center-mobil {
    display: none;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    section.left .center-mobil .first img {
      width: 170px; }
    section.left .center-mobil .midle h1 {
      color: #212121;
      font-family: 'Austin light';
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 2px;
      padding: 0; }
    section.left .center-mobil .last span {
      font-family: 'Austin italic';
      color: #191818; }
    section.left .center-mobil .last a {
      padding-right: 5px;
      font-size: 15pt;
      font-family: 'Austin light';
      color: #191818; }
    section.left .center-mobil .last .space {
      font-family: 'Austin light'; }
    section.left .center-mobil .last .tel {
      padding-left: 5px;
      letter-spacing: 2px;
      font-size: 15pt; }
  section.left .center {
    height: 100vh;
    position: relative;
    text-align: center;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.left .center .first {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%); }
      section.left .center .first img {
        width: 170px; }
    section.left .center .midle h1 {
      color: #212121;
      font-family: 'Austin light';
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 58.69pt;
      padding: 0 20px; }
      section.left .center .midle h1 span {
        font-family: 'Austin italic'; }
    section.left .center .last {
      width: 330px;
      max-width: 330px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100px; }
      section.left .center .last span {
        font-family: 'Austin italic'; }
      section.left .center .last a {
        padding-right: 5px;
        font-size: 15pt;
        font-family: 'Austin light';
        color: #191818; }
      section.left .center .last .space {
        font-family: 'Austin light'; }
      section.left .center .last .tel {
        padding-left: 5px;
        letter-spacing: 2px;
        font-size: 15pt; }

section.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: #4C683A;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  section.right img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 215px; }

@media (max-width: 1280px) {
  section.left h1 {
    font-size: 48.69pt !important; } }

@media (max-width: 768px) {
  section.left {
    display: block !important;
    position: static !important;
    width: 100%;
    height: 50vh !important; }
    section.left .center-mobil {
      display: block; }
    section.left .center {
      display: none; }
  section.right {
    position: relative;
    width: 100%;
    height: 50vh;
    bottom: 50px !important; }
    section.right img {
      width: 200px; } }

@media (max-width: 460px) {
  section.left .center-mobil .first img {
    width: 100px; }
  section.left .center-mobil .midle h1 {
    font-size: 30pt !important; }
  section.left .center-mobil .last span {
    font-size: 10pt !important; }
  section.left .center-mobil .last a {
    font-size: 10pt !important; }
  section.right {
    position: relative;
    width: 100%;
    height: 50vh;
    bottom: 50px !important; }
    section.right img {
      width: 130px !important; } }
